<div class="col-md-6 panier-container; col-md-6 produit-container">
  <h2 class="text-center">Ajouter au panier</h2>
  <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
  <div class="hidden">
    <input type="text" formControlName="id" placeholder="id" name="id" class="form-control" id="id">
  </div>
  <div class="form-group">
    <label for="quantite">Quantite:</label>
    <input type="number" formControlName="quantite" placeholder="quantite" name="quantite" class="form-control" id="quantite" required="true">
  </div>
  <div class="form-group">
    <label for="id">Id Produit</label>
    <input type="number" formControlName="produit" placeholder="id" name="id" class="form-control" id="id" required="true">
  </div>
  <div class="form-group">
    <label for="reference">Reference</label>
    <input type="text" formControlName="produit" placeholder="reference" name="reference" class="form-control" id="reference" required="true">
  </div>
  <div class="form-group">
    <label for="prix">Prix</label>
    <input type="number" formControlName="produit" placeholder="prix" name="prix" class="form-control" id="prix" required="true">
  </div>
  <div class="form-group">
    <label for="nom">Nom</label>
    <input type="text" formControlName="produit" placeholder="nom" name="nom" class="form-control" id="nom" required="true">
  </div>
  <div class="form-group">
    <label for="nom">Nom</label>
    <input type="text" formControlName="produit" placeholder="nom" name="nom" class="form-control" id="nom" required="true">
  </div>
  <div class="form-group">
    <label for="stock">Nom</label>
    <input type="number" formControlName="produit" placeholder="stock" name="stock" class="form-control" id="stock" required="true">
  </div>
  <div class="form-group">
    <label for="url">Image</label>
    <input type="text" formControlName="produit" placeholder="url" name="url" class="form-control" id="url" required="true">
  </div>
  <button class="btn btn-success">Ajouter</button>
  </form>
  <button class="btn btn-secondary pull-right" (click)="goBack()">
    Cancel
  </button>
</div>
  